extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io('//'+document.location.hostname);
    socket.on('socketToMe', function (data) {
      console.log(data);
    });
